# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment
.env

# SQLite
*.db
*.sqlite3

# Temporary files
temp/
generated/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db